body {
  background-color: hsl(216, 12%, 8%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.card {
  position: relative;
  top: 50%;
  transform: translateY(50%);
  background-color: hsl(213, 19%, 18%);
  width: 40vh;
  height: 40vh;
  padding: 1.5rem;
  margin: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  border-radius: 1.5rem;
  cursor: pointer;
}

#submit {
  background-color: hsl(25, 97%, 53%);
  color: white;
  padding: 4%;
  border-radius: 2rem;
  letter-spacing: 0.2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#star img {
  background-color: hsl(215, 13%, 26%);
  height: 1.5rem;
  width: 1.5rem;
  padding: 3%;
  border-radius: 3rem;
}

body {
  font-family: "Overpass";
  font-weight: bold;
  font-size: 16px;
}

h2 {
  font-style: bold;
  color: white;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

#description {
  color: hsl(215, 29%, 80%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.normalRating {
  height: 3rem;
  width: 3rem;
  padding: 1%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border-radius: 3rem;
}

.unactiveState {
  background-color: hsl(215, 13%, 26%);
  color: hsl(215, 29%, 80%);
}

#submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.rating div:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}
.activeRating {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.response {
  position: relative;
  top: 50%;
  transform: translateY(50%);
  background-color: hsl(213, 19%, 18%);
  width: 40vh;
  height: 40vh;
  padding: 1.5rem;
  margin: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  border-radius: 1.5rem;
}

#thanks {
  font-weight: bold;
  color: hsl(215, 29%, 80%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

#interactive {
  background-color: hsl(215, 13%, 26%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: hsl(25, 97%, 53%);
  padding: 3%;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

#tylogo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.hidden {
  display: none;
}
